{% extends '_base.html' %}

{% block title %}SneakerStore - Кроссовки{% endblock title %}

{% block content %}
    <h2>Кроссовки</h2>
    <ul>
        {% for sneaker in sneaker_list %}
            <div>
                <img src="{{ sneaker.image.url }}" alt="Кроссовки" width="200">
                <h4><a href="{{ sneaker.get_absolute_url }}">{{ sneaker.title }}</a></h4>
                <p>Бренд: {{ sneaker.brand }}</p>
                <p>Цена: {{ sneaker.price }}</p>
            </div>
        {% endfor %}
    </ul>
{% endblock content %}