{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}SneakerStore - Изменить пароль{% endblock title %}
{% block head_title %}{% trans "Изменить пароль" %}{% endblock %}

{% block content %}
    <h2>{% if token_fail %}{% trans "Неверный токен" %}{% else %}{% trans "Изменить пароль" %}{% endif %}</h2>

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>{% blocktrans %}Ссылка на сброс пароля оказалась недействительной, возможно, потому что она уже была использована.  Пожалуйста, запросите<a href="{{ passwd_reset_url }}">сброс пароля</a>.{% endblocktrans %}</p>
    {% else %}
        <form method="POST" action="{{ action_url }}">
            {% csrf_token %}
            {{ form|crispy }}
            <input class='btn btn-dark' type="submit" name="action" value="{% trans 'Изменить пароль' %}"/>
        </form>
    {% endif %}
{% endblock %}