{% extends "_base.html" %}

{% load i18n %}

{% load crispy_forms_tags %}

{% block title %}SneakerStore - Изменить пароль{% endblock title %}
{% block head_title %}{% trans "Изменить пароль" %}{% endblock %}

{% block content %}
    <h1>{% trans "Изменить пароль" %}</h1>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form|crispy }}
        <button class='btn btn-dark' type="submit" name="action">{% trans "Изменить пароль" %}</button>
        <a href="{% url 'account_reset_password' %}">{% trans "Забыли пароль?" %}</a>
    </form>
{% endblock %}
