{% extends "_base.html" %}

{% load i18n %}
{% load account %}

{% load crispy_forms_tags %}

{% block title %}SneakerStore - Сброс пароля{% endblock title %}
{% block head_title %}{% trans "Сброс пароля" %}{% endblock %}

{% block content %}

    <h2>{% trans "Сброс пароля" %}</h2>
    <p>{% trans "Забыли пароль? Введите свой адрес электронной почты ниже, и мы вышлем вам письмо, по которому вы сможете его сбросить." %}</p>
    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {{ form|crispy }}
        <input class='btn btn-dark' type="submit" value="{% trans 'Сброс пароля' %}" />
    </form>

{% endblock %}